include README.md
include LICENSE
include pyproject.toml
recursive-include strategify *.py
recursive-include strategify/geo *.geojson
recursive-include strategify/data *
exclude __pycache__
exclude *.pyc